<div class='container'>
  <div id='repos'>
    <ul>
      <% @repos.each do |repo| %>
        <li class='block'>
          <div class='panel repo'>The repo</div>
        </li>
      <% end %>
      <li class='block'>
        <div class='panel new'>
          <h3>Hook in a new repo</h3>
          <form method='post' action='#' name='newrepo'>
            <input type='text' name='repo' placeholder='username/repository' />
            <br />
            <div class='theform'>
              <input type='radio' name='freq' value='1' />
              Daily digest notifications
              <br />
              <input type='radio' name='freq' value=2' />
              Notifications for every push
            </div>
            <br />
            <input type='Submit' value='Create' />
          </form>
        </div>
      </li>
    </ul>
  </div>
</div>
