<div class='container'>
  <div id='repos'>
    <ul>
      <% @repos.each do |repo| %>
        <li class='block'>
          <div class='panel repo'>
            <h3><%= repo.short %></h3>
            <hr />
            <p>
              Add the URL below as your 
              <a href='https://help.github.com/articles/post-receive-hooks' target='_blank'>post-receive hook</a>
            </p>
            <p class='url-font'><%= repo.webhook_url %></p>
            <div class='buttondiv'>
              <a href='/repos/show/<%= repo.id %>'><input type='Submit' value='View Activity' /></a>
            </div>
          </div>
        </li>
      <% end %>
      <li class='block'>
        <div class='panel new'>
          <h3>Hook in a new repo</h3>
          <form method='post' action='/repos/new' name='newrepo'>
            <input type='text' name='short' placeholder='username/repository' />
            <br />
            <div class='buttondiv'>
              <input type='Submit' value='Create Repo' />
            </div>
          </form>
        </div>
      </li>
    </ul>
  </div>
</div>
