<div class='container'>
  <div id='repos'>
    <ul>
      <% @repos.each do |repo| %>
        <li class='block'>
          <div class='panel repo'>
            <h3><%= repo.short %></h3>
            <hr />
            <p>
              <a href='https://help.github.com/articles/post-receive-hooks' target='_blank'>Add this</a> 
              as your GitHub post-receive hook URL
            </p>
            <p class='url-font'><%= repo.webhook_url %></p>
            <p class='payload-count'><%= repo.payloads.count %> hooks received</p>
            <% if repo.frequency == 1 %>
              <p class='freq'>Daily digest notifications</p>
            <% else %>
              <p class='freq'>Notifications for every push</p>
            <% end %>
            <div class='buttondiv'>
              <input type='Submit' value='View Activity' />
            </div>
          </div>
        </li>
      <% end %>
      <li class='block'>
        <div class='panel new'>
          <h3>Hook in a new repo</h3>
          <form method='post' action='/repos/new' name='newrepo'>
            <input type='text' name='short' placeholder='username/repository' />
            <br />
            <div class='theform'>
              <input type='radio' name='freq' value='1' />
              Daily digest notifications
              <br />
              <input type='radio' name='freq' value=2' />
              Notifications for every push
            </div>
            <br />
            <div class='buttondiv'>
              <input type='Submit' value='Create Repo' />
            </div>
          </form>
        </div>
      </li>
    </ul>
  </div>
</div>
