<!DOCTYPE html>
<html>
  <head>
    <title>GitBook</title>
    <link type='text/css' rel='stylesheet' href='stylesheets/gitbook.css' />
  </head>
  <body>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>

