<!DOCTYPE html>
<html>
  <head>
    <title>GitBook</title>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css">
    <link type='text/css' rel='stylesheet' href='stylesheets/social.css' />
    <link type='text/css' rel='stylesheet' href='stylesheets/gitbook.css' />
    <script type='text/javascript' src='javascripts/jquery-1.9.0.min.js'></script>
    <script type='text/javascript' src='javascripts/gitbook.js'></script>
  </head>
  <body>
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId  : '402453166505117', // App ID from the App Dashboard
          status : true, // check the login status upon init?
          cookie : true, // set sessions cookies to allow your server to access the session?
          xfbml  : true  // parse XFBML tags on this page?
        });
      };

      (function(d, debug){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
        ref.parentNode.insertBefore(js, ref);
      }(document, /*debug*/ false));
    </script>
    <div class='container'>
      <div id='header'>
        <h1 class='logo'>Git<span class='blue'>Line</span></h1>
        <h2 class='punch'>
          "The niftiest way to share GitHub activity on your <span class='blue'>Timeline</span>"
        </h2>
      </div>
      <div class='action'>
        <% unless logged_in? %>
          <a class="btn-auth btn-facebook large login" href="#">Sign in with <b>Facebook</b></a>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>

