<!DOCTYPE html>
<html>
  <head>
    <title>GitBook</title>
    <link type='text/css' rel='stylesheet' href='stylesheets/gitbook.css' />
    <script type='text/javascript' src='javascripts/jquery-1.9.0.min.js'></script>
    <script type='text/javascript' src='javascripts/gitbook.js'></script>
  </head>
  <body>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>

